/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Full-Height Layout */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000; 
    color: #e0e0e0; 
}

/* Navbar Styles */
header {
    background-color: #1a1a1a; 
    color: #ffffff; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.navbar-left h1 {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #b0b0b0; 
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #ffffff; 
}

/* Footer Styles */
footer {
    background-color: #1a1a1a; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.left-footer {
    flex: 1;
}

.right-footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-align: right;
}

footer p, footer address {
    margin: 5px 0;
    color: #bdbdbd; 
}

footer address {
    font-style: normal;
}

footer a {
    color: #bdbdbd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #e0e0e0; 
}

/* Main Section - All Pages */
.main-section {
    flex-grow: 1;
    padding: 40px;
    background-color: #000000;
}

/* Body Section - Home */
.body-home {
    display: flex;
    flex-direction: row;
}

#logo-home {
    width: 50%;
    height: auto;
    margin: 20% 20%;
    animation: spin 8s linear infinite;
}
/* Apply Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.body-home-right{
    margin: 20% 0;
    padding-right: 20%;
    text-align: justify;
}

/* Body Section - About Us */
.body-aboutus{
    display: flex;
    flex-direction: row;
}
.body-aboutus-left{
    margin: 15% 10%;
    text-align: justify;
}

/* Initially Hide slideshow image 2 & 3 */
#aboutus-2, #aboutus-3, #aboutus-4, #aboutus-5, #aboutus-6{
    display: none;
}

.body-aboutus-right{
    width: 100%;
    max-width: 600px;
    margin: auto;
    position: relative;
}

.slideshow{
    width: 100%;
    height: auto;
    display: block;
}

/* Body Section - Services */
.body-services {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 5% 10%; 
}

.service-offers {
    position: relative;
    overflow: hidden;
    margin: 5%;
    text-align: center;
}

.service-offer-slide {
    display: none;
    padding: 20px;
}

/* Ensure only the active slide is displayed */
.service-offer-slide.active {
    display: block;
}

ul {
    list-style-type: none;
}

/* Navigation buttons */
.prev, .next{
    cursor: pointer;
    font-size: 30px;
}

/* Body Section - Portfolio*/
.body-portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 5% 0;
}

.body-portfolio h2 {
    margin-bottom: 10px;
}

.body-portfolio p {
    margin-bottom: 5px;
    text-align: justify; 
}

.portfolio {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Set the width for left and right containers */
.body-portfolio-left {
    width: 35%; 
    padding: 0 5px;
    margin: 100px 0;
}

.body-portfolio-right {
    width: 65%;
    padding: 20% 5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* Adjust the images to take 60% of the right container height */
.body-portfolio-right img {
    width: 80%;
    height: auto;
    object-fit: contain; 
}

/* body - contact us */
form{
    margin-top: 25px;
}
.form-container {
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: #e0e0e0; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 50%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #666;
}

/* Button styles */
.contact-button, .login-button, .login{
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-button:hover, .login-button:hover, .login:hover {
    background-color: #ffb84d;
}

/* Hide other-reason initially */
#other-reason {
    display: none;
}

/* body - login */
.login-form{
    margin-top: 25px;
    display: none;
}

